@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.landing-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin: 50px auto;
}

.landing-container span {
  height: 2px;
  position: relative;
}

@-webkit-keyframes neon {
  from {
    text-shadow: 0 0 2px #3dd2cc, 0 0 10px #3dd2cc, 0 0 15px #3dd2cc, 0 0 20px #3e6b89, 0 0 25px #3e6b89, 0 0 30px #3e6b89, 0 0 35px #3e6b89;
  }
  to {
    text-shadow: 0 0 12px #000, 0 0 25px #3dd2cc, 0 0 35px #3dd2cc, 0 0 40px #3e6b89, 0 0 45px #3e6b89, 0 0 50px #3e6b89, 0 0 50px #3e6b89;
  }
}

@keyframes neon {
  from {
    text-shadow: 0 0 2px #3dd2cc, 0 0 10px #3dd2cc, 0 0 15px #3dd2cc, 0 0 20px #3e6b89, 0 0 25px #3e6b89, 0 0 30px #3e6b89, 0 0 35px #3e6b89;
  }
  to {
    text-shadow: 0 0 12px #000, 0 0 25px #3dd2cc, 0 0 35px #3dd2cc, 0 0 40px #3e6b89, 0 0 45px #3e6b89, 0 0 50px #3e6b89, 0 0 50px #3e6b89;
  }
}

.landing-name {
  margin: 15px auto;
  font-family: "Yellowtail", cursive;
  font-size: 160px;
  letter-spacing: 5px;
  color: whitesmoke;
  position: relative;
  top: 30px;
}

.landing-title {
  margin: 10px auto;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
}

.landing-button {
  width: 200px;
  height: 40px;
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  font-weight: 700;
  background-color: #3e6b89;
  border-radius: 5px;
  color: whitesmoke;
  display: inline-block;
  border-radius: 4px;
  border: none;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.landing-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.landing-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.landing-button:hover span {
  padding-right: 25px;
}

.landing-button:hover span:after {
  opacity: 1;
  right: 0;
}

.landing-button-link {
  margin: 15px auto;
}

.about-me-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

.photo {
  border-radius: 50%;
  margin: 0 auto;
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-me-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 450px;
  margin: auto 80px auto 0px;
  padding: 2vw;
  border-radius: 15px;
}

.about-me-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 290px;
  margin: 5px auto;
  font-size: 30px;
}

.about-me-logos-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 250px;
  padding: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  border-radius: 10px;
}

i {
  margin: 3px 5px;
}

.about-me-button {
  width: 70px;
  margin: 0 auto;
  text-decoration: none;
  color: white;
  padding: 5px 5px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 700;
  background-color: #3e6b89;
  cursor: pointer;
}

.about-me-button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  outline: none;
}

.about-me-button-link {
  width: 70px;
  margin: 0 auto;
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.contact-text {
  margin: 5vh auto;
  text-align: center;
}

.contact-links {
  margin: 50px auto;
}

.contact-icon {
  width: 40px;
  margin: 0 40px;
}

.contact-icon:hover {
  cursor: pointer;
}

.form-container {
  background-color: #3dd2cc;
  width: 210px;
  margin: 0 auto;
  border-radius: 20px;
  -webkit-box-shadow: 2px 2px 2px 2px #3e6b89;
          box-shadow: 2px 2px 2px 2px #3e6b89;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text-input {
  margin-top: 10px;
  width: 172px;
}

.text-area {
  margin-top: 10px;
}

.form-buttom {
  margin: 5px auto;
  padding: 3px;
  border: 2px solid #3e6b89;
  border-radius: 5px;
  font-size: 15px;
  background-color: #3e6b89;
  font-weight: 700;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  width: 100px;
}

.menu-btn {
  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.menu-btn-burger {
  position: absolute;
  right: 0;
  top: .5rem;
  width: 28px;
  height: 3px;
  background: black;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.menu-btn-burger::before {
  content: '';
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background: black;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.menu-btn-burger::after {
  content: '';
  position: absolute;
  top: 8px;
  width: 20px;
  height: 3px;
  background: black;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.menu-btn-burger.open {
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg);
  background: transparent;
}

.menu-btn-burger.open::before {
  -webkit-transform: rotate(45deg) translate(5px, 8px);
          transform: rotate(45deg) translate(5px, 8px);
}

.menu-btn-burger.open::after {
  width: 28px;
  -webkit-transform: rotate(-45deg) translate(3px, -7px);
          transform: rotate(-45deg) translate(3px, -7px);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 65vw;
  opacity: .9;
  visibility: hidden;
}

.nav.open {
  visibility: visible;
}

.nav .menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  overflow: hidden;
  background: rgba(136, 134, 134, 0.945);
  list-style-type: none;
  padding-right: 1rem;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.nav .menu-nav.open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.nav .menu-nav-item {
  -webkit-transform: translateX(65vw);
          transform: translateX(65vw);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.nav .menu-nav-item.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav .menu-nav-item.active > Link {
  color: #3e6b89;
}

.nav .menu-nav-link {
  display: inline-block;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 1rem 0;
  font-weight: 300;
  text-decoration: none;
  color: whitesmoke;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.nav .menu-nav-link:hover {
  color: #3e6b89;
}

.menu-nav-item:nth-child(1) {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.menu-nav-item:nth-child(2) {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}

.menu-nav-item:nth-child(3) {
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
}

.menu-nav-item:nth-child(4) {
  -webkit-transition-delay: 0.55s;
          transition-delay: 0.55s;
}

.menu-nav-item:nth-child(5) {
  -webkit-transition-delay: 0.65s;
          transition-delay: 0.65s;
}

.projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.project-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  border-radius: 15px;
  width: 45vw;
  height: 300px;
  margin: 20px;
  -webkit-box-shadow: 2px 2px 2px 2px #3e6b89;
          box-shadow: 2px 2px 2px 2px #3e6b89;
  background-color: #3dd2cc;
}

.name-image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 250px;
  height: 180px;
  background-color: #3e6b89;
  margin: 15px;
  border-radius: 10px;
}

.project-name {
  text-align: center;
  margin: 5px;
}

.project-image {
  width: 200px;
  margin: 10px;
  border-radius: 5px;
}

.project-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px;
}

.project-description {
  text-align: left;
  margin: 10px;
  font-size: 15px;
}

.project-links-containers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

.project-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: black;
  margin: auto 20px;
  padding: 4px 8px;
  border: 2px solid #3e6b89;
  border-radius: 5px;
  font-size: 12px;
}

.project-logo {
  width: 25px;
  height: 25px;
  margin: 0px 5px;
}

@media screen and (max-width: 720px) {
  .about-me-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .photo {
    height: 200px;
    width: 200px;
  }
  .about-me-info {
    width: 250px;
    margin: 10px auto;
    border-radius: 5px;
  }
  .about-me-logos-container {
    width: 175px;
    padding: 5px;
    border-radius: 5px;
  }
  .about-me-text {
    font-size: 10px;
  }
  .about-me-button {
    width: 50px;
    padding: 3px 3px;
    border-radius: 5px;
    font-size: 10px;
  }
  .landing-name {
    font-size: 50px;
  }
  .landing-title {
    font-size: 10px;
  }
  .landing-button {
    font-size: 10px;
    width: 140px;
  }
  .nav-links {
    margin: 5px;
    font-size: 12px;
  }
  .links-container {
    margin-right: 5px;
  }
  .logo {
    width: 50px;
  }
  .projects-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .project-container {
    border-radius: 15px;
    width: 85vw;
    height: 300px;
    margin: 10px auto;
  }
  .name-image-container {
    width: 250px;
    height: 140px;
    margin: 5px;
    border-radius: 10px;
  }
  .project-image {
    width: 200px;
    margin: 5px auto;
  }
  .project-info-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    margin: 3px;
  }
  .project-description {
    margin: 5px;
    font-size: 10px;
  }
  .project-link {
    margin: auto 8px;
    padding: 0px 4px;
    border-radius: 5px;
    font-size: 8px;
  }
  .project-logo {
    width: 10px;
    height: 10px;
  }
}

@media only screen and (min-width: 721px) and (max-width: 1190px) {
  .landing-name {
    font-size: 100px;
  }
  .project-container {
    margin: 10px;
    height: 350px;
  }
  .name-image-container {
    height: 140px;
  }
  .project-image {
    margin: 8px auto;
  }
  .project-info-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    margin: 3px;
  }
  .project-description {
    margin: 5px;
    font-size: 12px;
  }
  .project-link {
    margin: 18px;
    padding: 3px 4px;
    border-radius: 5px;
    font-size: 8px;
  }
  .project-logo {
    width: 10px;
    height: 10px;
  }
  .landing-button {
    width: 170px;
    font-size: 15px;
  }
}

body {
  background-color: #4c90a2;
  height: 100vh;
  width: 100vw;
  font-family: "Nunito", sans-serif;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(76, 144, 162, 0.85)), to(rgba(76, 144, 162, 0.85))), url("../assets/collage.jpg");
  background-image: linear-gradient(to bottom, rgba(76, 144, 162, 0.85), rgba(76, 144, 162, 0.85)), url("../assets/collage.jpg");
  background-size: 100% 100%;
  color: whitesmoke;
  overflow: none;
}
