.contact-screen{
  display: flex;
}

.contact-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin: 60px auto;
}

.contact-text {
  margin: 30px auto 15px auto;
  text-align: center;
  &-2{
    margin-bottom: 30px;
  }
}

.form-container {
  background-color: transparent;
  width: 310px;
  height: 340px;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 2px $primary-color;
  border: 2px solid $secondary-color;
}

.contact-form {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.text-input {
  margin-top: 10px;
  width: 280px;
  height: 30px;
}

.text-area {
  margin-top: 10px;
  width: 280px;
  height: 200px;
}

.form-buttom {
  margin: 5px auto;
  padding: 3px;
  border: 2px solid $primary-color;
  border-radius: 5px;
  font-size: 15px;
  color: whitesmoke;
  background-color: $primary-color;
  font-weight: 700;
    &:active{
      transform: scale(0.9);
    }
    &:hover{
      cursor: pointer;
    }
}

.contact-photo{
  margin-top: 25px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
}