@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&display=swap');

$primary-color: rgb(62, 107, 137);
$secondary-color: #3dd2cc;
$primary-font: 'Antic Didone', serif;
$box-background: #63bbd3;
$background-color: #4c90a2;
$font-color: whitesmoke;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin transition-ease {
  transition: all .5s ease-in-out;
}

@mixin media-mobile {
  @media screen and (max-width: 720px) {
    @content;
  }
}
@mixin media-table {
  @media only screen and (min-width: 721px) and (max-width: 1220px) {
    @content;
  }
}
