
.landing-container {
  display: flex;
  flex-flow: column;
  margin: 50px auto;
}

.landing-container span {
  height: 2px;
}
@keyframes neon {
  from {
    text-shadow: 0 0 2px $secondary-color, 0 0 10px $secondary-color, 0 0 15px $secondary-color,
      0 0 20px $primary-color, 0 0 25px $primary-color, 0 0 30px $primary-color, 0 0 35px $primary-color;
  }
  to {
    text-shadow: 0 0 12px #000, 0 0 25px $secondary-color, 0 0 35px $secondary-color,
      0 0 40px $primary-color, 0 0 45px $primary-color, 0 0 50px $primary-color, 0 0 50px $primary-color;
  }
}
@keyframes orbs {
  from{

  }
  to{

  }
}

.landing-name {
  margin: 15px auto;
  font-family: $title-font;
  font-size: 160px;
  letter-spacing: 5px;
  color: whitesmoke;
  top: 30px;
  // animation: neon 1.9s ease-in infinite;
}

.landing-title {
  margin: 10px auto;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
}

.landing-button {
  width: 200px;
  height: 40px;
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  font-weight: 700;
  background-color: $primary-color;
  border-radius: 5px;
  color: $font-color;
  display: inline-block;
  border-radius: 4px;
  border: none;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;

  &:active {
    transform: scale(0.95);
    outline: none;
  }
}
.landing-button-link {
  margin: 15px auto;
}
