.project-container {
  display: flex;
  flex-flow: column;
  border-radius: 15px;
  width: 30vw;
  height: 37vh;
  margin: 20px;
  box-shadow: 2px 2px 2px 2px $primary-color;
  background: transparent;
  perspective: 1000px;
}
.project-name {
  text-align: center;
  margin: 5px;
}
.project-image {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 260px;
  margin: 3px auto;
}
.project-links-containers,
.project-links-containers-back {
  display: flex;
  justify-content: center;
  position: relative;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  margin-bottom: 5px;
}
.project-link,
.project-link-back {
  display: flex;
  flex-flow: row;
  align-items: center;
  text-decoration: none;
  color: black;
  margin: auto 20px;
  padding: 4px 8px;
  border: 2px solid $primary-color;
  border-radius: 5px;
  font-size: 12px;
  background: transparent;
  transition: transform 0.5s ease-out;

  &:hover {
    color: #fff;
    transition: 0.8s;

    .fas.fa-globe {
      color: #fff;
      transition: 0.8s ease;
    }
    .fab.fa-github {
      color: #fff;
      transition: 0.8s ease;
    }
  }
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-back {
  display: flex;
  align-items: center;
  padding: 0 5px;
  color: black;
  transform: rotateY(180deg);
}
.project-link-back {
  transform: rotateY(180deg);
}
