@include media-mobile {
  .about-me-container {
    flex-flow: column;
  }
  .photo {
    height: 200px;
    width: 200px;
  }
  .about-me-info {
    width: 250px;
    margin: 10px auto;
    border-radius: 5px;
  }
  .about-me-logos-container {
    width: 175px;
    padding: 5px;
    border-radius: 5px;
  }
  .about-me-text {
    font-size: 10px;
  }
  .about-me-button {
    width: 50px;
    padding: 3px 3px;
    border-radius: 5px;
    font-size: 10px;
  }
  .landing-name {
    font-size: 50px;
  }
  .landing-title {
    font-size: 10px;
  }
  .landing-button {
    font-size: 10px;
    width: 140px;
  }
  .nav-links {
    margin: 5px;
    font-size: 12px;
  }
  .links-container {
    margin-right: 5px;
  }
  .logo {
    width: 50px;
    top: 5px;
  }
  .projects-container {
    flex-flow: column;
    justify-content: center;
    margin: 10 auto;
  }
  .project-container {
    border-radius: 15px;
    width: 70vw;
    height: 200px;
  }
  .project-image {
    width: 200px;
  }
  .project-link,.project-link-back {
    margin: auto 8px;
    padding: 0px 4px;
    border-radius: 5px;
    font-size: 8px;
  }
  .card-back{
    font-size: 12px;
  }
}
@include media-table {
  .landing-name {
    font-size: 100px;
  }
  .project-container {
    width: 40vw;
    height: 40vh;
  }
  .project-image {
    width: 250px;
  }
  .project-link, .project-link-back {
    margin: 18px;
    padding: 3px 4px;
    border-radius: 5px;
    font-size: 8px;
  }
  .landing-button {
    width: 170px;
    font-size: 15px;
  }
}
