
@include media-table {
  .landing-name {
    font-size: 100px;
  }
  .project-container {
    width: 350px;
    height: 265px;
  }
  .project-image {
    width: 250px;
  }
  .project-link, .project-link-back {
    margin: 18px;
    padding: 3px 4px;
    border-radius: 5px;
    font-size: 8px;
  }
  .landing-button {
    width: 170px;
    font-size: 15px;
  }
}
