@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Yellowtail&display=swap");

.contact-container {
  display: flex;
  flex-flow: column;
}
.contact-text {
  font-family: "Hammersmith One", sans-serif;
  margin: 10vh auto;
  text-align: center;
}
.contact-links {
  margin: 50px auto;
}
.contact-icon {
  width: 40px;
  margin: 0 40px;
}
