@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Yellowtail&display=swap');

.landing-container{
  display: flex;
  flex-flow: column;
  margin: 50px auto;
}
.landing-name{
  margin: 15px auto;
  font-family: 'Yellowtail', cursive;
  font-size: 60px;
}
.landing-title{
  margin: 10px auto;
  font-family: 'Hammersmith One', sans-serif;
  font-size: 15px;
}
.landing-button{
  margin: 15px auto;
  width: 140px;
  height: 40px;
  font-family: 'Hammersmith One', sans-serif;
  font-size: 15px;
  border: 2px solid #3e6b89;
  border-radius: 5px;
  transition-duration: 0.3s;
}
.landing-button:hover{
  background-color: #3e6b89;
  color: white;
}