@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Yellowtail&display=swap");

.landing-container {
  display: flex;
  flex-flow: column;
  margin: 50px auto;
}
.landing-name {
  margin: 15px auto;
  font-family: "Yellowtail", cursive;
  font-size: 160px;
}
.landing-title {
  margin: 10px auto;
  font-family: "Hammersmith One", sans-serif;
  font-size: 15px;
}
.landing-button {
  width: 140px;
  height: 40px;
  font-family: "Hammersmith One", sans-serif;
  font-size: 15px;
  border: 2px solid #3e6b89;
  background-color: #3e6b89;
  border-radius: 5px;
  transition-duration: 0.3s;
  color: white;
}
.landing-button:hover {
  background-color: #3dd2cc;
  color: black;
}
.landing-button-link {
  margin: 15px auto;
}
@media only screen and (max-width: 601px) {
  .landing-name{
    font-size: 50px;
  }
  .landing-title{
    font-size: 10px;
  }
  .landing-button{
    font-size: 10px;
  }
}
@media only screen and (min-width: 602px) and (max-width: 1050px) {
  .landing-name{
    font-size: 100px;
  }
}