@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.links-container {
  margin-right: 50px;
}
.logo {
  width: 100px;
}
.nav-links {
  margin: 20px;
  text-decoration: none;
  font-family: "Hammersmith One", sans-serif;
  font-weight: 500;
  color: #000000;
}
@media only screen and (max-width: 601px) {
  .nav-links{
    margin: 5px;
    font-size: 12px;
  }
  .links-container{
    margin-right: 5px;
  }
  .logo{
    width: 50px;
  }
}