.projects-container {
  display: flex;
  flex-flow: row wrap;
}
@media only screen and (max-width: 601px) {
  .projects-container {
    flex-flow: column;
  }
}
@media only screen and (min-width: 602px) and (max-width: 1050px) {
}
