@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Yellowtail&display=swap");

.project-container {
  display: flex;
  flex-flow: column;
  border-radius: 15px;
  width: 45vw;
  height: 300px;
  margin: 20px;
  box-shadow: 2px 2px 2px 2px #3e6b89;
}
.name-image-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 250px;
  height: 180px;
  background-color: #3e6b89;
  margin: 15px;
  border-radius: 10px;
}
.project-name {
  text-align: center;
  margin: 5px;
  font-family: "Hammersmith One", sans-serif;
}
.project-image {
  width: 200px;
  margin: 10px;
  border-radius: 5px;
}
.project-info-container {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin: 15px;
}
.project-description {
  font-family: "Hammersmith One", sans-serif;
  text-align: left;
  margin: 10px;
  font-size: 15px;
}
.project-links-containers {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.project-link {
  display: flex;
  flex-flow: row;
  align-items: center;
  font-family: "Hammersmith One", sans-serif;
  text-decoration: none;
  color: black;
  margin: auto 20px;
  padding: 0px 8px;
  border: 2px solid #3dd2cc;
  border-radius: 5px;
  font-size: 12px;
}
.project-logo {
  width: 25px;
  height: 25px;
  margin: 0px 5px;
}
@media only screen and (max-width: 601px) {
  .project-container {
    border-radius: 15px;
    width: 85vw;
    height: 300px;
    margin: 10px auto;
  }
  .name-image-container {
    width: 250px;
    height: 140px;
    margin: 5px;
    border-radius: 10px;
  }
  .project-image {
    width: 200px;
    margin: 5px auto;
  }
  .project-info-container {
    flex-flow: column;
    margin: 3px;
  }
  .project-description {
    margin: 5px;
    font-size: 10px;
  }
  .project-link {
    margin: auto 8px;
    padding: 0px 4px;
    border-radius: 5px;
    font-size: 8px;
  }
  .project-logo {
    width: 10px;
    height: 10px;
  }
}
@media only screen and (min-width: 602px) and (max-width: 1190px) {
  .project-container {
  margin: 10px;
  height: 350px;
}
.name-image-container {
  height: 140px;
}
.project-image {
  margin: 8px auto;
}
  .project-info-container {
    flex-flow: column;
    margin: 3px;
  }
  .project-description {
    margin: 5px;
    font-size: 12px;
  }
  .project-link {
    margin: auto 8px;
    padding: 0px 4px;
    border-radius: 5px;
    font-size: 8px;
  }
  .project-logo {
    width: 10px;
    height: 10px;
  }
}
